@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="text-center">
        <h1 class="title">Tree View</h1>
    </div>
</div>
<div class="row" id="treeRow">
    <ul class="tree-view" id="mainTree">

    </ul>
</div>


<script>
    var allItemInTree;

    $.ajax({
        type: 'GET',
        url: '/Home/GetTreeItems',
        async: true,
        dataType: "json",
        success: function (response) {
            allItemInTree = response;
            var maxLevel = Math.max.apply(Math, allItemInTree.map(function (m) { return m.itemLevel; }))

            var i;
            for (i = 0; i <= maxLevel; i++) {
                var listOfItem = allItemInTree.filter(res => res.itemLevel == i)

                listOfItem.forEach((item) => {
                    if (i == 0) {
                        document.getElementById('mainTree').innerHTML += ('<li class="branch" id=' + item.uniqItemID + '><span class="caret">' + item.itemValue + '</span><button class="btn btn-link btnAdd" data-id=' + item.uniqItemID + '>Add</button><button class="btn btn-link btnEdit">Edit</button><button class="btn btn-link btnRemove">Remove</button><ul class="nested"></ul></li>');
                    } else {
                        if (document.getElementById(item.parentUniqID).getElementsByTagName("ul")[0].innerHTML !== undefined) {
                            document.getElementById(item.parentUniqID).getElementsByTagName("ul")[0].innerHTML += ('<li class="branch" id=' + item.uniqItemID + '><span class="caret">' + item.itemValue + '</span><button class="btn btn-link btnAdd" data-id=' + item.uniqItemID + '>Add</button><button class="btn btn-link btnEdit">Edit</button><button class="btn btn-link btnRemove">Remove</button><ul class="nested"></ul></li>');
                        } else {
                            document.getElementById(item.parentUniqID).getElementsByTagName("ul")[0].innerHTML = ('<li class="branch" id=' + item.uniqItemID + '><span class="caret">' + item.itemValue + '</span><button class="btn btn-link btnAdd" data-id=' + item.uniqItemID + '>Add</button><button class="btn btn-link btnEdit">Edit</button><button class="btn btn-link btnRemove">Remove</button><ul class="nested"></ul></li>');
                        }
                    }
                });



            }


            var toggler = document.getElementsByClassName("caret");
            var i;

            for (i = 0; i < toggler.length; i++) {
                toggler[i].addEventListener("click", function () {
                    this.parentElement.querySelector(".nested").classList.toggle("active");
                    this.classList.toggle("caret-down");
                });
            }
        },
        error: function (request, status, error) {
            alert(request.responseText);
        }
    });

    $(document).on('click', '.btnAdd', function () {
        debugger;
        var uniqID = $(this).data("id");

        if (document.getElementById(uniqID).getElementsByTagName("ul")[0].innerHTML !== undefined) {
            document.getElementById(uniqID).getElementsByTagName("ul")[0].innerHTML += ('<li class="branch"><span class="caret">test</span><button class="btn btn-link btnAdd">Add</button><button class="btn btn-link btnEdit">Edit</button><button class="btn btn-link btnRemove">Remove</button><ul class="nested"></ul></li>');
        } else {
            document.getElementById(uniqID).getElementsByTagName("ul")[0].innerHTML = ('<li class="branch" ><span class="caret">test</span><button class="btn btn-link btnAdd">Add</button><button class="btn btn-link btnEdit">Edit</button><button class="btn btn-link btnRemove">Remove</button><ul class="nested"></ul></li>');
        }
    });


    
</script>